body {
    font-family: 'Poppins';
}

#stre {
    padding-right: 110px;
}

.header nav ul li {
    display: flex;
    text-align: center;
    display: inline;
    margin-left: 5px;
    margin-top: 40px;
    justify-content: center;
}

#hour {
    padding-right: 80px;
}

nav ul {
    display: flex;
}

li a {
    color: black;
    text-decoration: none;
    justify-items: center;
    padding-left: 30px;
}

#star {
    height: 170px;
    margin-top: -50px;
}

#navigation {
    flex-direction: row;
    display: inline;
    display: flex;
    margin-left: 70px;
    padding-left: 35px;
    padding-top: 40px;
}

#list {
    margin-right: 25px;
}

#menu-nav {
    display: inline-flex flex;
}

.stars h1 {
    font-size: 35px;
    position: relative;
}

#streetfood {
    font-size: 60px;
}

.streetfood h1 {
    color: #6CB840;
}

.streetfood #food {
    color: #EAAB1B;
}

.header {
    background-color: rgb(209, 208, 208);
    box-sizing: border-box;
}

.footer {
    background-color: #C9ECB5;
}

.streetfood {
    padding-left: 90px;
    padding-top: 55px;
    padding-bottom: 130px;
}

#order {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 25px;
}

.eat {
    display: flex;
    flex-direction: row;
}

#eatblock>h1 {
    color: #EAAB1B;
}

.exploremenu {
    background-color: #ddff99;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 1px;
}

.exploremenu>h2 {
    text-align: center;
    padding-top: 20px;
}

.exploremenu #menu {
    color: #6CB840;
}

.exploremenu>p {
    display: flex;
    background-color: white;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 45px;
    border-bottom-right-radius: 40px;
    width: 230px;
    height: 125px;
    display: inline-flex;
    justify-content: right;
    text-align: center;
    margin-bottom: 80px;
    padding-right: 30px;
    padding-top: 20px;
}

.exploremenu>img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 65px;
    margin-left: 20px;
    position: absolute;
    width: 200px;
    height: 150px;
    display: inline-flex;
}

.hotdeals {
    background-color: #C9ECB5;
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 0%;
    text-align: center;
}

#pack {
    padding-top: -170px;
}

.splashline #pic {
    display: inline-flex;
    float: left;
    margin-top: -66px;
    margin-left: 60px;
}

#bugger {
    width: 520px;
    height: 395px;
    position: absolute;
    margin-top: 274px;
    margin-left: 70px;
}

.hotdeals #splashline>splash {
    margin-top: 2px;
    margin-left: 20px;
    position: relative;
}

#hotd {
    text-align: center;
    padding-top: 20px;
    padding-right: 320px;
}

#combo {
    color: #6CB840;
}

#dealmenu {
    color: #6CB840;
}

#splash p {
    margin-top: 180px;
    margin-left: 70px;
    padding-left: 20px;
    text-align: center;
    margin-right: 5px;
}

.contact span {
    color: #6CB840;
}

.contact {
    background-color: #FFD77C;
    display: flex;
    flex-direction: column;
    margin-top: 0.2px;
    margin-left: 42px;
    margin-right: 42px;
    align-items: center;
    font-family: 'Poppins'Arial, sans-serif;
}

.contact p {
    text-align: center;
}

.contact h2 {
    padding-top: 70px;
}

button {
    background-color: #6CB840;
    border: none;
    border-radius: 5px;
    color: white;
}

#eml {
    width: 400px;
    height: 45px;
    border-radius: 20px;
    border: none;
}

#send {
    width: 120px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.footer {
    padding-left: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 37px;
    margin-right: 30px;
    display: inline-flex;
}

#eat img {
    width: 58%;
    height: 37%;
    margin-left: 40px;
}

#eat {
    display: inline-flex;
}

#eatblock {
    margin-top: 150px;
    text-align: center;
}

#days {
    margin-left: 40px;
    padding-right: 50px;
    padding-left: 25px;
    margin-top: 40px;
}

#address {
    padding-top: 60px;
    padding-left: 45px;
    padding-bottom: 60px;
    border-left: dotted rgb(130, 184, 146);
}

#socialmedia {
    margin-left: 390px;
    padding-left: 40px;
    padding-top: 60px;
}

#media {
    padding-left: 35px;
    padding-top: 60px;
    padding-right: 20x;
}

#insta {
    width: 40px;
}

#finalbt {
    border-radius: 0%;
    width: 85px;
    height: 27px;
}